AllowShortFunctionsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Language: Cpp
AccessModifierOffset: -3
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
PointerBindsToType: true
IndentWidth: 3
NamespaceIndentation: All
UseTab: ForIndentation
TabWidth: 3
Standard: Cpp03
ColumnLimit: 80
